
footer{
    height: 40px;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: "4px";
    position: relative;
    bottom: 0;
    left: 0;
    
}
